.navbar {
    display: flex;
    padding: 10px;
    
    background-color: gray;
    justify-content: center; /* centers content horizontally */
    align-items: center;    /* centers content vertically */
    gap: 15px; /* adds space between child elements */
}

.navbar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
	font-size: 1.2rem;
	color: black;
    transition: background-color 0.3s;
}

.navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
} 