.ai-model-selector select option:checked {
  background-color: $accent-primary;
  color: inherit;
}

.ai-model-selector label {
  font-weight: bold;
}

.ai-model-selector select {
  border-radius: $radius-md;
  width: 350px;
  border: 0px;
  padding: $padding-sm;
  color: inherit;
  font-size: 1rem;
  background-color: $bg-tertiary;
}
